/natives
/saves
/logs
/crash-reports
/reports
minecraft-client*
!minecraft-client-gdb.gdb
/mc-image-lib/gen
/out
/sources
gl.xml
*.class
*.jar
*.so
*.a
*.o
svmhelpers.py
/screenshots
servers.dat
options.txt
usercache.json
/assets
.idea/discord.xml
.idea/deployment.xml
.idea/uiDesigner.xml
env.sh
/libraries
/graalvm
/graal_dumps
*.log
perf.data
mc-image-config.txt
